{% extends 'base.html' %}


{% block c%}
    <h1>Products</h1>
    <div class="row">
        {% for i in items %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ i.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">${{ i.price }}, {{i.quantity}} available.</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}